.pay-nom-form {
  width: 100%;
}
.nom-report-card {
  width: 100%;
}

.nom-report-card .card-header {
  width: 100%;
  border-radius: 1rem;
}

.nom-report-card .card-body {
  border-radius: 1rem;
  width: 50%;
}

.btn-report-actions {
  display: flex;
  align-items: center;
}
